/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/**
 *    Place any image- and text-like content side-by-side, as per:
 *    stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

// Predefine the variables below in order to alter and enable specific features.
$plump-media-gutter:                $plump-base-spacing-unit !default;
$plump-media-gutter--small:         halve($plump-media-gutter) !default;
$plump-media-gutter--large:         double($plump-media-gutter) !default;

$plump-enable-media--small:         false !default;
$plump-enable-media--large:         false !default;
$plump-enable-media--rev:           false !default;
$plump-enable-media--flush:         false !default;
$plump-enable-media--stacked:       false !default;

$plump-media-collapse-at:           250px !default;





.#{$plump-namespace}media,
%#{$plump-namespace}media {
    @extend %clearfix;
    display: block;
}

    .#{$plump-namespace}media__img,
    %#{$plump-namespace}media__img {
        float: left;
        margin-right: $plump-media-gutter;

        @include media-query(palm) {
        	float: none;
        	margin: 0 auto;
        }

        > img {
            display: block;
        }

    }

    .#{$plump-namespace}media__body,
    %#{$plump-namespace}media__body {
        display: block;
        overflow: hidden;

        &,
        > :last-child {
            margin-bottom: 0;
        }

    }





@if ($plump-enable-media--small == true) {

    /**
     *    Small media objects.
     */

    .#{$plump-namespace}media--small,
    %#{$plump-namespace}media--small {

        > .#{$plump-namespace}media__img,
        > %#{$plump-namespace}media__img {
            margin-right: $plump-media-gutter--small;
        }

        @if ($plump-enable-media--rev == true) {

            /**
             *    Small reversed media objects.
             */

            &.#{$plump-namespace}media--rev,
            &%#{$plump-namespace}media--rev {

                > .#{$plump-namespace}media__img,
                > %#{$plump-namespace}media__img {
                    margin-right: 0;
                    margin-left: $plump-media-gutter--small;
                }
            }
        }
    }

}

@if ($plump-enable-media--large == true) {

    /**
     *    Large media objects.
     */

    .#{$plump-namespace}media--large,
    %#{$plump-namespace}media--large {

        > .#{$plump-namespace}media__img,
        > %#{$plump-namespace}media__img {
            margin-right: $plump-media-gutter--large;
        }

        @if ($plump-enable-media--rev == true) {

            /**
             *    Large reversed media objects.
             */

            &.#{$plump-namespace}media--rev,
            &%#{$plump-namespace}media--rev {

                > .media__img,
                > %media__img {
                    margin-right: 0;
                    margin-left: $plump-media-gutter--large;

                    @include media-query(palm) {
                    	margin: 0 auto;
                    }
                }
            }
        }
    }

}





@if ($plump-enable-media--rev == true) {

    /**
     *    Reversed image location (right instead of left). Extends `.media`.
     */

    .#{$plump-namespace}media--rev,
    %#{$plump-namespace}media--rev {

        > .#{$plump-namespace}media__img,
        > %#{$plump-namespace}media__img {
            float: right;
            margin-right: 0;
            margin-left: $plump-media-gutter;

            @include media-query(palm) {
            	float: none;
            	margin: 0 auto;
            	display: block;
            }
        }
    }

}





@if ($plump-enable-media--flush == true) {

    /**
     *    Flush media objects have no space between the image- and text-content.
     */

    .#{$plump-namespace}media--flush,
    %#{$plump-namespace}media--flush {

        > .#{$plump-namespace}media__img,
        > %#{$plump-namespace}media__img {
            margin-right: 0;
            margin-left: 0;
        }
    }

}





@if ($plump-enable-media--stacked == true) {

    .#{$plump-namespace}media--stacked,
    %#{$plump-namespace}media--stacked {

    	& .media__body {
    		min-width: $plump-media-collapse-at;
    	}
    }

}
